<a href="https://colab.research.google.com/github/VGandhi27/Depression-Detection/blob/main/depr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [53]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as py
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
import seaborn as sns

In [54]:
df=pd.read_csv('13100607.csv')
df_meta=pd.read_csv('13100607_MetaData.csv')

In [55]:
from google.colab import drive
drive.mount('/content/drive')

MessageError: ignored

In [56]:
df.head()

,REF_DATE,GEO,DGUID,Age group,Sex,Probability of depression,Characteristics,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2003,Newfoundland and Labrador,10,"Total, 12 years and over",Both sexes,Total population for the variable probability ...,Number of persons,Persons,249,units,0,v26656800,2.1.1.1.1,460130.0,NaN,NaN,NaN,0
1,2003,Newfoundland and Labrador,10,"Total, 12 years and over",Both sexes,Total population for the variable probability ...,"Low 95% confidence interval, number of persons",Persons,249,units,0,v26656801,2.1.1.1.2,460130.0,NaN,NaN,NaN,0
2,2003,Newfoundland and Labrador,10,"Total, 12 years and over",Both sexes,Total population for the variable probability ...,"High 95% confidence interval, number of persons",Persons,249,units,0,v26656802,2.1.1.1.3,460130.0,NaN,NaN,NaN,0
3,2003,Newfoundland and Labrador,10,"Total, 12 years and over",Both sexes,Total population for the variable probability ...,Coefficient of variation for number of persons,Persons,249,units,0,v26656803,2.1.1.1.4,0.0,NaN,NaN,NaN,1
4,2003,Newfoundland and Labrador,10,"Total, 12 years and over",Both sexes,Total population for the variable probability ...,Percent,Percent,239,units,0,v26656804,2.1.1.1.5,100.0,NaN,NaN,NaN,1

In [57]:
df_meta.head()

,Cube Title,Product Id,CANSIM Id,URL,Cube Notes,Archive Status,Frequency,Start Reference Period,End Reference Period,Total number of dimensions
0,"Probability of depression, by age group and se...",13100607,105-0205,https://www150.statcan.gc.ca/t1/tbl1/en/tv.act...,1;2;3;4;8;9;10;15,ARCHIVED - a cube publicly available but no l...,Every 2 years,2003-01-01,2003-01-01,5
1,Dimension ID,Dimension name,Dimension Notes,Dimension Correction Notes,Dimension Definitions,NaN,NaN,NaN,NaN,NaN
2,1,Geography,4;8;9;10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,Age group,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3,Sex,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
df.shape

(90048, 18)

In [59]:
df_meta.shape

(144, 10)

In [60]:
df.isnull().sum()

REF_DATE                         0
GEO                              0
DGUID                            0
Age group                        0
Sex                              0
Probability of depression        0
Characteristics                  0
UOM                              0
UOM_ID                           0
SCALAR_FACTOR                    0
SCALAR_ID                        0
VECTOR                           0
COORDINATE                       0
VALUE                        36044
STATUS                       42872
SYMBOL                       90048
TERMINATED                   90048
DECIMALS                         0
dtype: int64

In [64]:
df=df.drop(columns=['VALUE','STATUS','SYMBOL','TERMINATED','GEO','Age group','Sex','Characteristics','UOM','SCALAR_FACTOR'] ,axis=1)

In [68]:
df.keys()

Index(['REF_DATE', 'DGUID', 'Probability of depression', 'UOM_ID', 'SCALAR_ID',
       'COORDINATE', 'DECIMALS'],
      dtype='object')

In [67]:
df=df.drop(columns='VECTOR',axis=1)

In [ ]:
# df=df.dropna(inplace=True)

In [69]:
df.head()

,REF_DATE,DGUID,Probability of depression,UOM_ID,SCALAR_ID,COORDINATE,DECIMALS
0,2003,10,Total population for the variable probability ...,249,0,2.1.1.1.1,0
1,2003,10,Total population for the variable probability ...,249,0,2.1.1.1.2,0
2,2003,10,Total population for the variable probability ...,249,0,2.1.1.1.3,0
3,2003,10,Total population for the variable probability ...,249,0,2.1.1.1.4,1
4,2003,10,Total population for the variable probability ...,239,0,2.1.1.1.5,1

In [70]:
df['Probability of depression'].value_counts()

Total population for the variable probability of depression    22512
Probability of depression, less than 0.9                       22512
Probability of depression, 0.9 or greater                      22512
Probability of depression, not stated                          22512
Name: Probability of depression, dtype: int64

In [71]:
df.groupby('Probability of depression').mean()

<ipython-input-71-49bac3ea2949>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Probability of depression').mean()

,REF_DATE,DGUID,UOM_ID,SCALAR_ID,DECIMALS
Probability of depression,,,,,
"Probability of depression, 0.9 or greater",2003.0,2904.671642,244.0,0.0,0.625
"Probability of depression, less than 0.9",2003.0,2904.671642,244.0,0.0,0.625
"Probability of depression, not stated",2003.0,2904.671642,244.0,0.0,0.625
Total population for the variable probability of depression,2003.0,2904.671642,244.0,0.0,0.625

In [72]:
x=df.drop(columns='Probability of depression',axis=1)
y=df['Probability of depression']

In [73]:
print(x)

       REF_DATE  DGUID  UOM_ID  SCALAR_ID    COORDINATE  DECIMALS
0          2003     10     249          0     2.1.1.1.1         0
1          2003     10     249          0     2.1.1.1.2         0
2          2003     10     249          0     2.1.1.1.3         0
3          2003     10     249          0     2.1.1.1.4         1
4          2003     10     239          0     2.1.1.1.5         1
...         ...    ...     ...        ...           ...       ...
90043      2003   6201     249          0  163.14.3.5.4         1
90044      2003   6201     239          0  163.14.3.5.5         1
90045      2003   6201     239          0  163.14.3.5.6         1
90046      2003   6201     239          0  163.14.3.5.7         1
90047      2003   6201     239          0  163.14.3.5.8         1

[90048 rows x 6 columns]

In [74]:
print(y)

0        Total population for the variable probability ...
1        Total population for the variable probability ...
2        Total population for the variable probability ...
3        Total population for the variable probability ...
4        Total population for the variable probability ...
                               ...
90043                Probability of depression, not stated
90044                Probability of depression, not stated
90045                Probability of depression, not stated
90046                Probability of depression, not stated
90047                Probability of depression, not stated
Name: Probability of depression, Length: 90048, dtype: object

In [75]:
x.shape

(90048, 6)

In [76]:
y.shape

(90048,)

In [77]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.5, random_state=0)

In [78]:
print(x.shape,X_test.shape,X_train.shape)

(90048, 6) (45024, 6) (45024, 6)

In [79]:
print(y_train)

32739    Total population for the variable probability ...
87596             Probability of depression, less than 0.9
65450             Probability of depression, less than 0.9
36851            Probability of depression, 0.9 or greater
39037                Probability of depression, not stated
                               ...
21243                Probability of depression, not stated
45891    Total population for the variable probability ...
42613            Probability of depression, 0.9 or greater
43567             Probability of depression, less than 0.9
68268             Probability of depression, less than 0.9
Name: Probability of depression, Length: 45024, dtype: object

In [80]:
model = GaussianNB()

In [86]:
X_train=X_train.drop(columns='COORDINATE',axis=1)
X_test=X_test.drop(columns='COORDINATE',axis=1)

y_pred = model.fit(X_train, y_train).predict(X_test)

KeyError: ignored

In [87]:
model.fit(X_train, y_train).predict(X_test)

array(['Probability of depression, less than 0.9',
       'Probability of depression, not stated',
       'Total population for the variable probability of depression', ...,
       'Probability of depression, less than 0.9',
       'Probability of depression, not stated',
       'Probability of depression, less than 0.9'], dtype='<U59')

In [83]:
X_train.keys()

Index(['REF_DATE', 'DGUID', 'UOM_ID', 'SCALAR_ID', 'DECIMALS'], dtype='object')

In [ ]:
# from sklearn.feature_extraction.text import TfidfVectorizer
# from sklearn.naive_bayes import MultinomialNB
# from sklearn.pipeline import make_pipeline

# model = make_pipeline(TfidfVectorizer(analyzer = "word", ngram_range=(1,3)), MultinomialNB(alpha = 10))

In [84]:
# model.fit(X_train,y_train)

In [85]:
print("Number of mislabeled points out of a total %d points : %d" % (X_test.shape[0], (y_test != y_pred).sum()))

Number of mislabeled points out of a total 45024 points : 33909

In [89]:
# Accuracy score of train data
x_train_prediction=model.predict(X_train)
training_data_accuracy=accuracy_score(y_train,x_train_prediction)

In [90]:
print("Accuracy Score of this Training data is..",training_data_accuracy*100,"%")

Accuracy Score of this Training data is.. 25.313166311300638 %

In [91]:
# Accuracy score of test data
x_test_prediction=model.predict(X_test)
testing_data_accuracy=accuracy_score(y_test,x_test_prediction)

In [92]:
print("Accuracy Score of this Testing data is..",testing_data_accuracy*100,"%")

Accuracy Score of this Testing data is.. 24.686833688699362 %