# Depression Detection using Naive Bayes Theorem

## Adding Dependency

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as py
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
import seaborn as sns

## DataSet Collection & Processing

In [2]:
df_test=pd.read_csv('test.csv', encoding = "ISO-8859-1") 
df_train=pd.read_csv('train.csv', encoding = "ISO-8859-1")

In [3]:
df_train.head()

,surveyid,village,survey_date,femaleres,age,married,children,hhsize,edu,hh_children,...,given_mpesa,amount_given_mpesa,received_mpesa,amount_received_mpesa,net_mpesa,saved_mpesa,amount_saved_mpesa,early_survey,depressed,day_of_week
0,926,91,23-Nov-61,1,28.0,1,4,6,10,0,...,0,0.0,0,0.000000,0.000000,1,0.000000,0,0,5
1,747,57,24-Oct-61,1,23.0,1,3,5,8,0,...,0,0.0,1,4.804611,4.804611,0,0.000000,0,1,3
2,1190,115,05-Oct-61,1,22.0,1,3,5,9,0,...,0,0.0,0,8.007685,8.007685,1,0.000000,0,0,5
3,1065,97,23-Sep-61,1,27.0,1,2,4,10,2,...,0,0.0,0,0.000000,0.000000,1,1.249199,0,0,0
4,806,42,12-Sep-61,0,59.0,0,4,6,10,4,...,0,0.0,0,0.000000,0.000000,0,0.000000,0,0,3

In [4]:
df_train.shape

(1143, 75)

In [5]:
df_train.keys()

Index(['surveyid', 'village', 'survey_date', 'femaleres', 'age', 'married',
       'children', 'hhsize', 'edu', 'hh_children', 'hh_totalmembers',
       'cons_nondurable', 'asset_livestock', 'asset_durable', 'asset_phone',
       'asset_savings', 'asset_land_owned_total', 'asset_niceroof',
       'cons_allfood', 'cons_ownfood', 'cons_alcohol', 'cons_tobacco',
       'cons_med_total', 'cons_med_children', 'cons_ed', 'cons_social',
       'cons_other', 'ent_wagelabor', 'ent_ownfarm', 'ent_business',
       'ent_nonagbusiness', 'ent_employees', 'ent_nonag_revenue',
       'ent_nonag_flowcost', 'ent_farmrevenue', 'ent_farmexpenses',
       'ent_animalstockrev', 'ent_total_cost', 'fs_adskipm_often',
       'fs_adwholed_often', 'fs_chskipm_often', 'fs_chwholed_often', 'fs_meat',
       'fs_enoughtom', 'fs_sleephun', 'med_expenses_hh_ep',
       'med_expenses_sp_ep', 'med_expenses_child_ep',
       'med_portion_sickinjured', 'med_port_sick_child', 'med_afford_port',
       'med_sickdays_hhave', 'med_healthconsult', 'med_vacc_newborns',
       'med_child_check', 'med_u5_deaths', 'ed_expenses', 'ed_expenses_perkid',
       'ed_schoolattend', 'ed_sch_missedpc', 'ed_work_act_pc', 'labor_primary',
       'wage_expenditures', 'durable_investment', 'nondurable_investment',
       'given_mpesa', 'amount_given_mpesa', 'received_mpesa',
       'amount_received_mpesa', 'net_mpesa', 'saved_mpesa',
       'amount_saved_mpesa', 'early_survey', 'depressed', 'day_of_week'],
      dtype='object')

In [6]:
df_train.isnull().sum()

surveyid              0
village               0
survey_date           0
femaleres             0
age                   0
                     ..
saved_mpesa           0
amount_saved_mpesa    0
early_survey          0
depressed             0
day_of_week           0
Length: 75, dtype: int64

In [7]:
df_train.dropna(inplace=True)

In [8]:
df_train['depressed'].value_counts()

0    10
1     2
Name: depressed, dtype: int64

In [9]:
df_train.groupby('depressed').mean()

C:\Users\Vidushi\AppData\Local\Temp\ipykernel_4056\3785429531.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_train.groupby('depressed').mean()

,surveyid,village,femaleres,age,married,children,hhsize,edu,hh_children,hh_totalmembers,...,nondurable_investment,given_mpesa,amount_given_mpesa,received_mpesa,amount_received_mpesa,net_mpesa,saved_mpesa,amount_saved_mpesa,early_survey,day_of_week
depressed,,,,,,,,,,,,,,,,,,,,,
0,727.2,100.4,1.0,31.2,1.0,3.6,6.1,8.5,3.6,6.1,...,18.865438,0.0,0.000000,0.0,0.000000,0.000000,0.2,0.080077,0.1,2.6
1,556.0,112.5,0.5,34.5,1.0,5.5,7.5,7.5,5.5,7.5,...,41.809013,0.0,2.402306,0.5,8.007684,5.605379,0.0,0.000000,0.0,2.0

In [10]:
df_test.isnull().sum()

surveyid                0
village                 0
survey_date             0
femaleres               0
age                     1
                     ...
saved_mpesa             0
amount_saved_mpesa      0
early_survey            0
depressed             282
day_of_week             0
Length: 75, dtype: int64

In [11]:
# df_test.dropna(inplace=True)

In [12]:
df_test.head(10)

,surveyid,village,survey_date,femaleres,age,married,children,hhsize,edu,hh_children,...,given_mpesa,amount_given_mpesa,received_mpesa,amount_received_mpesa,net_mpesa,saved_mpesa,amount_saved_mpesa,early_survey,depressed,day_of_week
0,901,181,14-Nov-61,1,21,0,3,4,10,3,...,0,0.0,0,0.0,0.0,1,0.000000,0,0.0,3
1,498,47,18-Sep-61,1,44,1,6,8,6,6,...,0,0.0,0,0.0,0.0,0,0.000000,0,0.0,2
2,710,8,03-Sep-61,1,23,1,1,3,7,1,...,0,0.0,0,0.0,0.0,1,0.080077,0,0.0,1
3,433,25,01-Nov-60,1,67,0,0,1,1,0,...,0,0.0,0,0.0,0.0,0,0.000000,1,1.0,3
4,44,2,18-May-60,1,40,1,4,6,7,4,...,0,0.0,0,0.0,0.0,0,0.000000,1,NaN,4
5,172,15,22-Sep-61,1,54.700001,1,2,4,4,2,...,0,0.0,0,0.0,0.0,0,0.000000,0,NaN,6
6,1342,52,08-Oct-61,1,25,1,6,8,6,6,...,0,0.0,0,0.0,0.0,0,0.000000,0,NaN,1
7,228,28,06-Nov-61,1,43,0,6,8,9,6,...,0,0.0,0,0.0,0.0,0,0.000000,0,NaN,2
8,1421,279,29-Nov-61,1,23,1,2,4,9,0,...,0,0.0,0,0.0,0.0,1,9.609222,0,NaN,4
9,977,96,26-Nov-61,1,22,1,2,4,7,0,...,0,0.0,0,0.0,0.0,0,0.000000,0,NaN,1

In [13]:
df_train.shape

(12, 75)

In [41]:
df_meta=pd.read_csv('13100607.csv')

In [42]:
df_meta.head()

,REF_DATE,GEO,DGUID,Age group,Sex,Probability of depression,Characteristics,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2003,Newfoundland and Labrador,10,"Total, 12 years and over",Both sexes,Total population for the variable probability ...,Number of persons,Persons,249,units,0,v26656800,2.1.1.1.1,460130.0,NaN,NaN,NaN,0
1,2003,Newfoundland and Labrador,10,"Total, 12 years and over",Both sexes,Total population for the variable probability ...,"Low 95% confidence interval, number of persons",Persons,249,units,0,v26656801,2.1.1.1.2,460130.0,NaN,NaN,NaN,0
2,2003,Newfoundland and Labrador,10,"Total, 12 years and over",Both sexes,Total population for the variable probability ...,"High 95% confidence interval, number of persons",Persons,249,units,0,v26656802,2.1.1.1.3,460130.0,NaN,NaN,NaN,0
3,2003,Newfoundland and Labrador,10,"Total, 12 years and over",Both sexes,Total population for the variable probability ...,Coefficient of variation for number of persons,Persons,249,units,0,v26656803,2.1.1.1.4,0.0,NaN,NaN,NaN,1
4,2003,Newfoundland and Labrador,10,"Total, 12 years and over",Both sexes,Total population for the variable probability ...,Percent,Percent,239,units,0,v26656804,2.1.1.1.5,100.0,NaN,NaN,NaN,1

In [43]:
df_meta.shape

(90048, 18)

In [17]:
df_meta.keys()

Index(['Cube Title', 'Product Id', 'CANSIM Id', 'URL', 'Cube Notes',
       'Archive Status', 'Frequency', 'Start Reference Period',
       'End Reference Period', 'Total number of dimensions'],
      dtype='object')

In [18]:
df_meta.isnull().sum()

Cube Title                      0
Product Id                      1
CANSIM Id                      67
URL                            42
Cube Notes                     63
Archive Status                142
Frequency                     137
Start Reference Period        142
End Reference Period          142
Total number of dimensions    142
dtype: int64

In [19]:
df0=pd.read_csv('13100607.csv')

In [20]:
df0.head()

,REF_DATE,GEO,DGUID,Age group,Sex,Probability of depression,Characteristics,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2003,Newfoundland and Labrador,10,"Total, 12 years and over",Both sexes,Total population for the variable probability ...,Number of persons,Persons,249,units,0,v26656800,2.1.1.1.1,460130.0,NaN,NaN,NaN,0
1,2003,Newfoundland and Labrador,10,"Total, 12 years and over",Both sexes,Total population for the variable probability ...,"Low 95% confidence interval, number of persons",Persons,249,units,0,v26656801,2.1.1.1.2,460130.0,NaN,NaN,NaN,0
2,2003,Newfoundland and Labrador,10,"Total, 12 years and over",Both sexes,Total population for the variable probability ...,"High 95% confidence interval, number of persons",Persons,249,units,0,v26656802,2.1.1.1.3,460130.0,NaN,NaN,NaN,0
3,2003,Newfoundland and Labrador,10,"Total, 12 years and over",Both sexes,Total population for the variable probability ...,Coefficient of variation for number of persons,Persons,249,units,0,v26656803,2.1.1.1.4,0.0,NaN,NaN,NaN,1
4,2003,Newfoundland and Labrador,10,"Total, 12 years and over",Both sexes,Total population for the variable probability ...,Percent,Percent,239,units,0,v26656804,2.1.1.1.5,100.0,NaN,NaN,NaN,1

In [21]:
df0.shape

(90048, 18)

In [22]:
df0.isnull().sum()

REF_DATE                         0
GEO                              0
DGUID                            0
Age group                        0
Sex                              0
Probability of depression        0
Characteristics                  0
UOM                              0
UOM_ID                           0
SCALAR_FACTOR                    0
SCALAR_ID                        0
VECTOR                           0
COORDINATE                       0
VALUE                        36044
STATUS                       42872
SYMBOL                       90048
TERMINATED                   90048
DECIMALS                         0
dtype: int64

In [23]:
df0.keys()

Index(['REF_DATE', 'GEO', 'DGUID', 'Age group', 'Sex',
       'Probability of depression', 'Characteristics', 'UOM', 'UOM_ID',
       'SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR', 'COORDINATE', 'VALUE', 'STATUS',
       'SYMBOL', 'TERMINATED', 'DECIMALS'],
      dtype='object')

## Separating the features and target

In [24]:
x=df_train.drop(columns='depressed',axis=1)
y=df_train['depressed']

In [25]:
print(x)

      surveyid  village survey_date  femaleres   age  married  children  \
22         137        9   21-Jul-60          1  34.0        1         3
43         122       22   16-Nov-61          1  18.0        1         2
74         277       57   14-Nov-61          1  30.0        1         6
127       1372      228   23-Oct-61          1  27.0        1         4
269        653       42   03-Oct-61          1  33.0        1         2
446       1327      201   30-Oct-61          1  35.0        1         6
625        227       48   14-Nov-61          1  22.0        1         4
761       1137      106   18-Sep-61          1  47.0        1         4
1025       799      133   22-Oct-61          1  49.0        1         5
1039       654       42   16-Oct-61          1  27.0        1         3
1070       844      173   12-Nov-61          1  20.0        1         3
1081       835      168   12-Nov-61          0  39.0        1         5

      hhsize  edu  hh_children  ...  nondurable_investment  given_mpesa  \
22         5   10            3  ...               2.655882            0
43         3    9            2  ...               4.190688            0
74         8    7            6  ...              37.814068            0
127        7   10            4  ...              26.018301            0
269        4    7            2  ...              22.474903            0
446        8   10            6  ...              17.227644            0
625        7    9            4  ...               7.151308            0
761        7    1            4  ...               6.739801            0
1025       7   13            5  ...              44.409286            0
1039       6    7            3  ...              11.575554            0
1070       7    9            3  ...              46.211014            0
1081       7    8            5  ...              45.803959            0

      amount_given_mpesa  received_mpesa  amount_received_mpesa  net_mpesa  \
22              0.000000               0               0.000000   0.000000
43              0.000000               0               0.000000   0.000000
74              4.804611               1              16.015369  11.210759
127             0.000000               0               0.000000   0.000000
269             0.000000               0               0.000000   0.000000
446             0.000000               0               0.000000   0.000000
625             0.000000               0               0.000000   0.000000
761             0.000000               0               0.000000   0.000000
1025            0.000000               0               0.000000   0.000000
1039            0.000000               0               0.000000   0.000000
1070            0.000000               0               0.000000   0.000000
1081            0.000000               0               0.000000   0.000000

      saved_mpesa  amount_saved_mpesa  early_survey  day_of_week
22              0            0.000000             1            5
43              0            0.000000             0            5
74              0            0.000000             0            3
127             1            0.800768             0            2
269             0            0.000000             0            3
446             0            0.000000             0            2
625             0            0.000000             0            3
761             1            0.000000             0            2
1025            0            0.000000             0            1
1039            0            0.000000             0            2
1070            0            0.000000             0            1
1081            0            0.000000             0            1

[12 rows x 74 columns]

In [26]:
print(y)

22      0
43      0
74      1
127     0
269     0
446     0
625     0
761     0
1025    0
1039    0
1070    0
1081    1
Name: depressed, dtype: int64

In [27]:
x.shape

(12, 74)

In [28]:
y.shape

(12,)

## Spilting the data into training data and testing data

In [29]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.5, random_state=0)

In [30]:
print(x.shape,X_test.shape,X_train.shape)

(12, 74) (6, 74) (6, 74)

In [31]:
print(y_train)

43      0
761     0
1039    0
127     0
22      0
446     0
Name: depressed, dtype: int64

## Model Training

## Naive Bayes Theorem

In [39]:
model = GaussianNB()

In [40]:
 y_pred = model.fit(X_train, y_train).predict(X_test)

ValueError: The feature names should match those that were passed during fit.
Feature names unseen at fit time:
- survey_date

In [38]:
X_train=X_train.drop(columns='survey_date',axis=1)
X_test=X_test.drop(columns='survey_date',axis=1)

KeyError: "['survey_date'] not found in axis"

In [39]:
X_train.head()

,surveyid,village,femaleres,age,married,children,hhsize,edu,hh_children,hh_totalmembers,...,nondurable_investment,given_mpesa,amount_given_mpesa,received_mpesa,amount_received_mpesa,net_mpesa,saved_mpesa,amount_saved_mpesa,early_survey,day_of_week
243,984,75,1,28.0,0,4,5,10,0,NaN,...,0.000000,0,0.0,0,0.0,0.0,0,0.0,0,4
1012,1155,180,1,31.0,1,6,8,9,6,8.0,...,72.247116,0,0.0,0,0.0,0.0,0,0.0,0,1
35,823,27,1,31.0,1,2,4,10,2,4.0,...,75.728790,0,0.0,0,0.0,0.0,0,0.0,0,5
986,1040,137,1,46.0,0,3,5,9,3,5.0,...,31.496893,0,0.0,0,0.0,0.0,0,0.0,0,1
597,25,4,1,28.0,1,2,4,10,2,4.0,...,13.237148,0,0.0,0,0.0,0.0,0,0.0,0,2