In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as py
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
import seaborn as sns

In [2]:
df=pd.read_csv('13100607.csv')
df_meta=pd.read_csv('13100607_MetaData.csv')

In [3]:
df.head()

,REF_DATE,GEO,DGUID,Age group,Sex,Probability of depression,Characteristics,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2003,Newfoundland and Labrador,10,"Total, 12 years and over",Both sexes,Total population for the variable probability ...,Number of persons,Persons,249,units,0,v26656800,2.1.1.1.1,460130.0,NaN,NaN,NaN,0
1,2003,Newfoundland and Labrador,10,"Total, 12 years and over",Both sexes,Total population for the variable probability ...,"Low 95% confidence interval, number of persons",Persons,249,units,0,v26656801,2.1.1.1.2,460130.0,NaN,NaN,NaN,0
2,2003,Newfoundland and Labrador,10,"Total, 12 years and over",Both sexes,Total population for the variable probability ...,"High 95% confidence interval, number of persons",Persons,249,units,0,v26656802,2.1.1.1.3,460130.0,NaN,NaN,NaN,0
3,2003,Newfoundland and Labrador,10,"Total, 12 years and over",Both sexes,Total population for the variable probability ...,Coefficient of variation for number of persons,Persons,249,units,0,v26656803,2.1.1.1.4,0.0,NaN,NaN,NaN,1
4,2003,Newfoundland and Labrador,10,"Total, 12 years and over",Both sexes,Total population for the variable probability ...,Percent,Percent,239,units,0,v26656804,2.1.1.1.5,100.0,NaN,NaN,NaN,1

In [4]:
df_meta.head()

,Cube Title,Product Id,CANSIM Id,URL,Cube Notes,Archive Status,Frequency,Start Reference Period,End Reference Period,Total number of dimensions
0,"Probability of depression, by age group and se...",13100607,105-0205,https://www150.statcan.gc.ca/t1/tbl1/en/tv.act...,1;2;3;4;8;9;10;15,ARCHIVED - a cube publicly available but no l...,Every 2 years,2003-01-01,2003-01-01,5
1,Dimension ID,Dimension name,Dimension Notes,Dimension Correction Notes,Dimension Definitions,NaN,NaN,NaN,NaN,NaN
2,1,Geography,4;8;9;10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,Age group,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3,Sex,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.shape

(90048, 18)

In [6]:
df_meta.shape

(144, 10)

In [7]:
df.isnull().sum()

REF_DATE                         0
GEO                              0
DGUID                            0
Age group                        0
Sex                              0
Probability of depression        0
Characteristics                  0
UOM                              0
UOM_ID                           0
SCALAR_FACTOR                    0
SCALAR_ID                        0
VECTOR                           0
COORDINATE                       0
VALUE                        36044
STATUS                       42872
SYMBOL                       90048
TERMINATED                   90048
DECIMALS                         0
dtype: int64

In [8]:
df=df.drop(columns=['VALUE','STATUS','SYMBOL','TERMINATED'] ,axis=1)

In [18]:
# df=df.dropna(inplace=True)

In [9]:
df.head()

,REF_DATE,GEO,DGUID,Age group,Sex,Probability of depression,Characteristics,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,DECIMALS
0,2003,Newfoundland and Labrador,10,"Total, 12 years and over",Both sexes,Total population for the variable probability ...,Number of persons,Persons,249,units,0,v26656800,2.1.1.1.1,0
1,2003,Newfoundland and Labrador,10,"Total, 12 years and over",Both sexes,Total population for the variable probability ...,"Low 95% confidence interval, number of persons",Persons,249,units,0,v26656801,2.1.1.1.2,0
2,2003,Newfoundland and Labrador,10,"Total, 12 years and over",Both sexes,Total population for the variable probability ...,"High 95% confidence interval, number of persons",Persons,249,units,0,v26656802,2.1.1.1.3,0
3,2003,Newfoundland and Labrador,10,"Total, 12 years and over",Both sexes,Total population for the variable probability ...,Coefficient of variation for number of persons,Persons,249,units,0,v26656803,2.1.1.1.4,1
4,2003,Newfoundland and Labrador,10,"Total, 12 years and over",Both sexes,Total population for the variable probability ...,Percent,Percent,239,units,0,v26656804,2.1.1.1.5,1

In [10]:
df['Probability of depression'].value_counts()

Total population for the variable probability of depression    22512
Probability of depression, less than 0.9                       22512
Probability of depression, 0.9 or greater                      22512
Probability of depression, not stated                          22512
Name: Probability of depression, dtype: int64

In [11]:
df.groupby('Probability of depression').mean()

C:\Users\Vidushi\AppData\Local\Temp\ipykernel_7396\1608917492.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Probability of depression').mean()

,REF_DATE,DGUID,UOM_ID,SCALAR_ID,DECIMALS
Probability of depression,,,,,
"Probability of depression, 0.9 or greater",2003.0,2904.671642,244.0,0.0,0.625
"Probability of depression, less than 0.9",2003.0,2904.671642,244.0,0.0,0.625
"Probability of depression, not stated",2003.0,2904.671642,244.0,0.0,0.625
Total population for the variable probability of depression,2003.0,2904.671642,244.0,0.0,0.625

In [14]:
x=df.drop(columns='Probability of depression',axis=1)
y=df['Probability of depression']

In [15]:
print(x)

       REF_DATE                        GEO  DGUID                 Age group  \
0          2003  Newfoundland and Labrador     10  Total, 12 years and over
1          2003  Newfoundland and Labrador     10  Total, 12 years and over
2          2003  Newfoundland and Labrador     10  Total, 12 years and over
3          2003  Newfoundland and Labrador     10  Total, 12 years and over
4          2003  Newfoundland and Labrador     10  Total, 12 years and over
...         ...                        ...    ...                       ...
90043      2003                    Nunavut   6201         75 years and over
90044      2003                    Nunavut   6201         75 years and over
90045      2003                    Nunavut   6201         75 years and over
90046      2003                    Nunavut   6201         75 years and over
90047      2003                    Nunavut   6201         75 years and over

              Sex                                  Characteristics      UOM  \
0      Both sexes                                Number of persons  Persons
1      Both sexes   Low 95% confidence interval, number of persons  Persons
2      Both sexes  High 95% confidence interval, number of persons  Persons
3      Both sexes   Coefficient of variation for number of persons  Persons
4      Both sexes                                          Percent  Percent
...           ...                                              ...      ...
90043     Females   Coefficient of variation for number of persons  Persons
90044     Females                                          Percent  Percent
90045     Females             Low 95% confidence interval, percent  Percent
90046     Females            High 95% confidence interval, percent  Percent
90047     Females             Coefficient of variation for percent  Percent

       UOM_ID SCALAR_FACTOR  SCALAR_ID     VECTOR    COORDINATE  DECIMALS
0         249        units           0  v26656800     2.1.1.1.1         0
1         249        units           0  v26656801     2.1.1.1.2         0
2         249        units           0  v26656802     2.1.1.1.3         0
3         249        units           0  v26656803     2.1.1.1.4         1
4         239        units           0  v26656804     2.1.1.1.5         1
...       ...           ...        ...        ...           ...       ...
90043     249        units           0  v26734747  163.14.3.5.4         1
90044     239        units           0  v26734748  163.14.3.5.5         1
90045     239        units           0  v26734749  163.14.3.5.6         1
90046     239        units           0  v26734750  163.14.3.5.7         1
90047     239        units           0  v26734751  163.14.3.5.8         1

[90048 rows x 13 columns]

In [16]:
print(y)

0        Total population for the variable probability ...
1        Total population for the variable probability ...
2        Total population for the variable probability ...
3        Total population for the variable probability ...
4        Total population for the variable probability ...
                               ...
90043                Probability of depression, not stated
90044                Probability of depression, not stated
90045                Probability of depression, not stated
90046                Probability of depression, not stated
90047                Probability of depression, not stated
Name: Probability of depression, Length: 90048, dtype: object

In [17]:
x.shape

(90048, 13)

In [18]:
y.shape

(90048,)

In [19]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.5, random_state=0)

In [20]:
print(x.shape,X_test.shape,X_train.shape)

(90048, 13) (45024, 13) (45024, 13)

In [21]:
print(y_train)

32739    Total population for the variable probability ...
87596             Probability of depression, less than 0.9
65450             Probability of depression, less than 0.9
36851            Probability of depression, 0.9 or greater
39037                Probability of depression, not stated
                               ...
21243                Probability of depression, not stated
45891    Total population for the variable probability ...
42613            Probability of depression, 0.9 or greater
43567             Probability of depression, less than 0.9
68268             Probability of depression, less than 0.9
Name: Probability of depression, Length: 45024, dtype: object

In [22]:
model = GaussianNB()

In [27]:
# y_pred = model.fit(X_train, y_train).predict(X_test)

In [25]:
X_train.keys()

Index(['REF_DATE', 'GEO', 'DGUID', 'Age group', 'Sex', 'Characteristics',
       'UOM', 'UOM_ID', 'SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR', 'COORDINATE',
       'DECIMALS'],
      dtype='object')

In [28]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import make_pipeline

model = make_pipeline(TfidfVectorizer(analyzer = "word", ngram_range=(1,3)), MultinomialNB(alpha = 10))

In [30]:
model.fit(X_train,y_train)

ValueError: Found input variables with inconsistent numbers of samples: [13, 45024]