In [16]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as py

In [30]:
df_test=pd.read_csv('test.csv', encoding = "ISO-8859-1") 
df_train=pd.read_csv('train.csv', encoding = "ISO-8859-1")

In [19]:
df_train.head()

,surveyid,village,survey_date,femaleres,age,married,children,hhsize,edu,hh_children,...,given_mpesa,amount_given_mpesa,received_mpesa,amount_received_mpesa,net_mpesa,saved_mpesa,amount_saved_mpesa,early_survey,depressed,day_of_week
0,926,91,23-Nov-61,1,28.0,1,4,6,10,0,...,0,0.0,0,0.000000,0.000000,1,0.000000,0,0,5
1,747,57,24-Oct-61,1,23.0,1,3,5,8,0,...,0,0.0,1,4.804611,4.804611,0,0.000000,0,1,3
2,1190,115,05-Oct-61,1,22.0,1,3,5,9,0,...,0,0.0,0,8.007685,8.007685,1,0.000000,0,0,5
3,1065,97,23-Sep-61,1,27.0,1,2,4,10,2,...,0,0.0,0,0.000000,0.000000,1,1.249199,0,0,0
4,806,42,12-Sep-61,0,59.0,0,4,6,10,4,...,0,0.0,0,0.000000,0.000000,0,0.000000,0,0,3

In [20]:
df_train.shape

(1143, 75)

In [21]:
df_train.keys()

Index(['surveyid', 'village', 'survey_date', 'femaleres', 'age', 'married',
       'children', 'hhsize', 'edu', 'hh_children', 'hh_totalmembers',
       'cons_nondurable', 'asset_livestock', 'asset_durable', 'asset_phone',
       'asset_savings', 'asset_land_owned_total', 'asset_niceroof',
       'cons_allfood', 'cons_ownfood', 'cons_alcohol', 'cons_tobacco',
       'cons_med_total', 'cons_med_children', 'cons_ed', 'cons_social',
       'cons_other', 'ent_wagelabor', 'ent_ownfarm', 'ent_business',
       'ent_nonagbusiness', 'ent_employees', 'ent_nonag_revenue',
       'ent_nonag_flowcost', 'ent_farmrevenue', 'ent_farmexpenses',
       'ent_animalstockrev', 'ent_total_cost', 'fs_adskipm_often',
       'fs_adwholed_often', 'fs_chskipm_often', 'fs_chwholed_often', 'fs_meat',
       'fs_enoughtom', 'fs_sleephun', 'med_expenses_hh_ep',
       'med_expenses_sp_ep', 'med_expenses_child_ep',
       'med_portion_sickinjured', 'med_port_sick_child', 'med_afford_port',
       'med_sickdays_hhave', 'med_healthconsult', 'med_vacc_newborns',
       'med_child_check', 'med_u5_deaths', 'ed_expenses', 'ed_expenses_perkid',
       'ed_schoolattend', 'ed_sch_missedpc', 'ed_work_act_pc', 'labor_primary',
       'wage_expenditures', 'durable_investment', 'nondurable_investment',
       'given_mpesa', 'amount_given_mpesa', 'received_mpesa',
       'amount_received_mpesa', 'net_mpesa', 'saved_mpesa',
       'amount_saved_mpesa', 'early_survey', 'depressed', 'day_of_week'],
      dtype='object')

In [24]:
df_train.isnull().sum()

surveyid              0
village               0
survey_date           0
femaleres             0
age                   0
                     ..
saved_mpesa           0
amount_saved_mpesa    0
early_survey          0
depressed             0
day_of_week           0
Length: 75, dtype: int64

In [23]:
df_train.dropna(inplace=True)

In [31]:
df_test.isnull().sum()

surveyid                0
village                 0
survey_date             0
femaleres               0
age                     1
                     ...
saved_mpesa             0
amount_saved_mpesa      0
early_survey            0
depressed             282
day_of_week             0
Length: 75, dtype: int64

In [27]:
df_test.dropna(inplace=True)

In [32]:
df_test.head(10)

,surveyid,village,survey_date,femaleres,age,married,children,hhsize,edu,hh_children,...,given_mpesa,amount_given_mpesa,received_mpesa,amount_received_mpesa,net_mpesa,saved_mpesa,amount_saved_mpesa,early_survey,depressed,day_of_week
0,901,181,14-Nov-61,1,21,0,3,4,10,3,...,0,0.0,0,0.0,0.0,1,0.000000,0,0.0,3
1,498,47,18-Sep-61,1,44,1,6,8,6,6,...,0,0.0,0,0.0,0.0,0,0.000000,0,0.0,2
2,710,8,03-Sep-61,1,23,1,1,3,7,1,...,0,0.0,0,0.0,0.0,1,0.080077,0,0.0,1
3,433,25,01-Nov-60,1,67,0,0,1,1,0,...,0,0.0,0,0.0,0.0,0,0.000000,1,1.0,3
4,44,2,18-May-60,1,40,1,4,6,7,4,...,0,0.0,0,0.0,0.0,0,0.000000,1,NaN,4
5,172,15,22-Sep-61,1,54.700001,1,2,4,4,2,...,0,0.0,0,0.0,0.0,0,0.000000,0,NaN,6
6,1342,52,08-Oct-61,1,25,1,6,8,6,6,...,0,0.0,0,0.0,0.0,0,0.000000,0,NaN,1
7,228,28,06-Nov-61,1,43,0,6,8,9,6,...,0,0.0,0,0.0,0.0,0,0.000000,0,NaN,2
8,1421,279,29-Nov-61,1,23,1,2,4,9,0,...,0,0.0,0,0.0,0.0,1,9.609222,0,NaN,4
9,977,96,26-Nov-61,1,22,1,2,4,7,0,...,0,0.0,0,0.0,0.0,0,0.000000,0,NaN,1

In [8]:
df0=pd.read_csv('13100607.csv')

In [9]:
df0.head()

,REF_DATE,GEO,DGUID,Age group,Sex,Probability of depression,Characteristics,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2003,Newfoundland and Labrador,10,"Total, 12 years and over",Both sexes,Total population for the variable probability ...,Number of persons,Persons,249,units,0,v26656800,2.1.1.1.1,460130.0,NaN,NaN,NaN,0
1,2003,Newfoundland and Labrador,10,"Total, 12 years and over",Both sexes,Total population for the variable probability ...,"Low 95% confidence interval, number of persons",Persons,249,units,0,v26656801,2.1.1.1.2,460130.0,NaN,NaN,NaN,0
2,2003,Newfoundland and Labrador,10,"Total, 12 years and over",Both sexes,Total population for the variable probability ...,"High 95% confidence interval, number of persons",Persons,249,units,0,v26656802,2.1.1.1.3,460130.0,NaN,NaN,NaN,0
3,2003,Newfoundland and Labrador,10,"Total, 12 years and over",Both sexes,Total population for the variable probability ...,Coefficient of variation for number of persons,Persons,249,units,0,v26656803,2.1.1.1.4,0.0,NaN,NaN,NaN,1
4,2003,Newfoundland and Labrador,10,"Total, 12 years and over",Both sexes,Total population for the variable probability ...,Percent,Percent,239,units,0,v26656804,2.1.1.1.5,100.0,NaN,NaN,NaN,1

In [11]:
df0.shape

(90048, 18)

In [15]:
df0.isnull().sum()

REF_DATE                         0
GEO                              0
DGUID                            0
Age group                        0
Sex                              0
Probability of depression        0
Characteristics                  0
UOM                              0
UOM_ID                           0
SCALAR_FACTOR                    0
SCALAR_ID                        0
VECTOR                           0
COORDINATE                       0
VALUE                        36044
STATUS                       42872
SYMBOL                       90048
TERMINATED                   90048
DECIMALS                         0
dtype: int64